
.jogo_memoria {
  background: linear-gradient(90deg, #3B7312, #F2A922, #F28705);
  position: relative;

  .btn-voltar {
    cursor: pointer;
    padding: 10px;

    button {
      display: flex;
      align-items: center;
      color: var(--cor-letras);
      font-size: 20px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.jogo_memoria_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 94vh;

    h1 {
      font-size: 52px;
      padding-bottom: 40px;
      color: var(--cor-branca);
      font-weight: 800;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.151);
    }
}

.card {
  position: relative; /* Para que o conteúdo fique acima do pseudo-elemento */
  z-index: 2; /* Para garantir que o conteúdo fique acima do fundo */
  width: 100px;
  height: 100px;
  background-color: #D9BB84;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.603);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card_grid_jogo {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 15px;
  justify-content: center;

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}

@media(max-width: 576px) {
  .jogo_finalizado_info {
    padding: 10px 50px;

    h2 {
      font-size: 50px;
    }

    button  {
      width: 70px;
      height: 70px;
    }
  }

  .jogo_memoria .btn-voltar{
    button {
      font-size: 18px;
    }

    .fa-angle-icon {
      font-size: 24px;
    }
  }
}

@media (min-width: 402px ) and (max-width: 452px) {
  .jogo_memoria_container h1 {
    font-size: 42px;
  }
  
  .card_grid_jogo {
    grid-template-columns: repeat(3, 100px);
  }

  .jogo_finalizado_info {
    padding: 8px 36px;

    h2 {
      font-size: 40px;
    }

    button  {
      width: 60px;
      height: 60px;
    }
  }

  .jogo_memoria .btn-voltar{
    button {
      font-size: 16px;
    }

    .fa-angle-icon {
      font-size: 22px;
    }
  }
}


@media (min-width: 336px) and (max-width: 398px) {
  .jogo_memoria_container h1 {
    text-align: center;
    font-size: 38px;
  }

  .card_grid_jogo {
    grid-template-columns: repeat(2, 100px);
  }

  .jogo_finalizado_info {
    padding: 6px 20px;

    h2 {
      font-size: 30px;
    }

    button  {
      width: 44px;
      height: 44px;
    }
  }

  .jogo_memoria .btn-voltar{
    button {
      font-size: 16px;
    }

    .fa-angle-icon {
      font-size: 22px;
    }
  }
}

