.jogo_formas_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('/images/fundo-geometrico.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-size: 50px;
    font-weight: 800;
    padding: 20px;
  }

  p {
    font-size: 28px;
    font-weight: 700;
    padding: 30px;
  }
}



.forma_atual  .imagem-forma {
  width: 180px;
}

.opcoes_formas {

  .btn-forma {
    padding: 14px;
    margin-left: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: none;

    img {
      width: 100px;
    }
  }
}

.mensagem_fim_jogo {
  h2 {
    font-size: 40px;
    padding: 10px;
  }
  
  .btn-reiniciar {
    padding: 12px 40px;
    border: none;
    background-color: var(--cor-laranja);
    font-size: 18px;
    color: var(--cor-branca);
    font-weight: 700;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
  }
}

@media (max-width: 556px) {
  .opcoes_formas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;   
  }
}

@media (min-width: 330px) {
  .jogo_formas_container h1 {
    font-size: 36px;
  }
}