
.sobre-section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--cor-branca-acinzentada);
}

.cabecalho-sobre {
    padding: 34px;

    h1 {
        font-size: 42px;
        font-weight: 600;
        text-align: center;
        
    }

    p {
        font-size: 22px;
        text-align: center;
    }
}

.info-sobre {
    background-color: var(--cor-fundo-amarelo);
    padding: 30px;
    margin: 40px 0;
    border-radius: 20px;
}

.pais-sobre {
    background-color: var(--cor-fundo-amarelo-claro);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.descricao-sobre, .info-sobre, .pais-sobre {
    width: 80%;
    padding-top: 30px;

    h3 {
        font-size: 28px;
        font-weight: 600;
        padding-bottom: 8px;
    }

    p {
        font-size: 22px;
        text-align: justify;
    }
}

@media (max-width: 700px) {
    .cabecalho-sobre {
        h1 {
            font-size: 36px;
        }

        p {
            padding: 0 40px;
        }
    }

    .descricao-sobre, .info-sobre, .pais-sobre{
        width: 80%;
        padding-bottom: 20px;
    }
}

@media (max-width: 673px) {
    .cabecalho-sobre {
        padding-top: 30px;
        
        h1 {
            font-size: 38px;
        }

        p {
            padding: 0 40px;
        }
    }

    .descricao-sobre, .info-sobre, .pais-sobre{
        width: 70%;
        padding-bottom: 20px;
    }
}

@media (max-width: 444px) {
    .cabecalho-sobre {
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    .descricao-sobre, .info-sobre, .pais-sobre{
        h3 {
            font-size: 26px;
            font-weight: 600;
        }
    
        p {
            font-size: 18px;
            text-align: justify;
        }
    }
}
