
.sobre-section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--cor-branca-acinzentada);
}

.cabecalho-sobre {
    padding: 34px;

    h1 {
        font-size: 46px;
        font-weight: 800;
        text-align: center;
        
    }
}

.descricao-sobre .paragrafos-descricao {
    display: grid;
    grid-template-columns: 1fr 1fr;
   

    p {
        padding: 26px;
        text-align: justify;
        font-size: 22px;
        text-align: justify;
        margin: 0;
    }
}

.info-sobre {
    background-color: var(--cor-fundo-amarelo);
    padding: 60px;
    margin: 40px 0;
    border-radius: 20px;
}

.pais-sobre {
    background-color: var(--cor-fundo-amarelo-claro);
    padding: 60px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.descricao-sobre, .info-sobre, .pais-sobre {
    width: 80%;
    padding-top: 30px;

    span {
        color: var(--cor-fundo-sobre);
        font-size: 36px;
        font-weight: 800;
        padding-left: 22px;
    }

    h3 {
        font-size: 36px;
        font-weight: 800;
        padding-bottom: 8px;
    }

    p {
        font-size: 22px;
        text-align: justify;
    }
}

.conheca-jogos-container {
    background-color: var(--cor-fundo-sobre);
    padding: 16px;
    color: var(--cor-branca);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .jogos-info {
        margin-left: 10px;

        h3 {
            font-size: 36px;
            font-weight: 700;
            padding: 10px 0;
        }
    
        p {
            padding: 10px 0;
            font-size: 18px;
            width: 90%;
        }
    
        button {
            padding: 14px;
            border: none;
            border-radius: 10px;
            background-color: var(--cor-branca-acinzentada);
            font-size: 16px;
            font-weight: 600;
            margin-top: 8px;
            cursor: pointer;
        }
    }

    .jogos-image {
        img {
            width: 250px;
        }
    }
}

@media (max-width: 1293px) {
    .sobre-section {
        max-width: 1100px;
    }
}

@media (max-width: 1170px) {
    .sobre-section {
        max-width: 1000px;
    }
}

@media (max-width: 970px) {
    .sobre-section {
        max-width: 800px;
    }

    .descricao-sobre .paragrafos-descricao {
        display: block;
    }
}

@media (max-width: 621px) {
    .descricao-sobre, .info-sobre, .pais-sobre {
        span {
            font-size: 30px;
        }

        h3 {
            font-size: 32px;
        }

        p {
            font-size: 20px;
        }
    }
} 

