
.jogo_formas_container {
  background: linear-gradient(to bottom, #D4F1F9, #FEEA8D);

  .btn-voltar {
    cursor: pointer;
    padding: 10px;

    button {
      display: flex;
      align-items: center;
      color: var(--cor-letras);
      font-size: 20px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.jogo_formas_section {
  height: 94vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 50px;
    font-weight: 800;
    padding: 20px;
  }

  p {
    font-size: 28px;
    font-weight: 700;
    padding: 30px;
  }
}

.forma_atual  .imagem-forma {
  width: 180px;
}

.opcoes_formas {

  /*Btn das formas geometricas para escolher*/
  .btn-forma {
    padding: 14px;
    margin-left: 30px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: var(--cor-branca-acinzentada);
    transition: ease-in 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    img {
      width: 100px;
    }
  }
}

@media (max-width: 556px) {
  .opcoes_formas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;   
    padding-right: 8px;
  }

  .jogo_formas_container .btn-voltar {
    
    button {
      font-size: 18px;
    }

    .fa-angle-icon {
      font-size: 22px;
    }
  }
}

@media (max-width: 332px) {
  .jogo_formas_section {
    height: auto;

    h1 {
      font-size: 38px;
    }
  }

  .opcoes_formas {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;   
    padding-bottom: 20px;

    .btn-forma {
      padding: 10px;
    }

    img {
      width: 0px;
    }
  }

  .forma_atual  .imagem-forma {
    width: 160px;
  }

  .jogo_formas_container .btn-voltar {
    
    button {
      font-size: 16px;
    }

    .fa-angle-icon {
      font-size: 22px;
    }
  }
}