

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 20vh;
    background-image: url("/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-logo {
    img {
        width: 180px;
    }
}

.nav-links {
    ul {
        display: flex;

        a {
            padding-right: 40px;
            color: #000;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;

            &:hover{
                color: #FDFDFF; /*mudar depois*/
            }
        } 
    }
}

.nav-search {
    input {
        padding: 20px 30px;
        border: none;
        border-radius: 10px;
        margin-right: 8px;
        outline: none;
    }
}

/* Menu Hamburguer */
.menu-list {
    display: flex; 
    flex-direction: row; 
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;

    li a {
        color: #000;
        font-size: 18px;
        text-decoration: none; 
    } 
        
}

/*Botão do menu*/
.dropdown-button {
    display: none; /* Escondido por padrão */
    background: none;
    color: #000;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 1162px) {
    .dropdown-button {
        display: block; 
    }

    .menu-list {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 20px;
            background-color: #fff;
            border: 1px solid #44444444;
            padding: 10px;
            z-index: 1000;
            position: absolute;
            opacity: 0;
            transform: translateY(-20px);
            transition: opacity 0.3s ease, transform 0.3s ease;

            li {
                border-bottom: 1px solid black;
                padding: 20px;
            }
    }

    .menu-list.active {
        display: flex; 
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 550px) {

    .nav-logo {
        display: none;
    }
}