header {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16vh;
}

.nav-logo {
    padding: 30px;

    img {
        width: 380px;
        height: auto;
    }
}

.nav-links {
    width: 100%;
    background-color: var(--cor-fundo);
    padding: 20px;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            padding-right: 40px;
            color: #000;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;

            &:hover{
                color: var(--cor-branca-acinzentada); /*mudar depois*/
            }
        } 
    }
}

.nav-search {
    input {
        padding: 20px 30px;
        border: none;
        border-radius: 10px;
        margin-right: 8px;
        outline: none;
    }
}

/* Menu Hamburguer */
.menu-list {
    display: flex; 
    flex-direction: row; 
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;

    li a {
        color: #000;
        font-size: 18px;
        text-decoration: none; 
    } 
        
}

/*Botão do menu*/
.dropdown-button {
    display: none; /* Escondido por padrão */
    background: none;
    color: #000;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/*Media Queries*/
@media (max-width: 1289px) {
    header {
        max-width: 1100px;
    }
}

@media (max-width: 1170px) {
    .menu-list {
        left: -70px;
    }

    header {
        max-width: 1000px;
    }
}


@media (max-width: 970px) {
    .dropdown-button {
        display: block; 
    }

    .menu-list {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 200px;
            left: 0;
            margin-left: 80px;
            background-color: var(--cor-fundo);
            color: var(--cor-letras);
            border: 1px solid #44444444;
            padding: 10px;
            z-index: 1000;
            position: absolute;
            opacity: 0;
            transform: translateY(-20px);
            transition: opacity 0.3s ease, transform 0.3s ease;

            li {
                border-bottom: 1px solid black;
                padding: 20px;
                width: 100%;
            }
    }

    .menu-list.active {
        display: flex; 
        opacity: 1;
        transform: translateY(0);
    }

    header {
        max-width: 800px;
    }
}

