
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
    padding: 10px;

    p {
        font-size: 18px;
        color: #fff;
    }
}

@media (max-width: 406px) {
    footer {
        width: 100%;

        p {
            font-size: 16px;
            text-align: center;
        }
    }
}