
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-branca-acinzentada);
    padding: 10px;
    border-top: 3px solid var(--cor-branca-acinzentada);

    p {
        font-size: 18px;
        color: var(--cor-letras);
        font-weight: 700;
    }
}

@media (max-width: 406px) {
    footer {
        width: 100%;

        p {
            font-size: 16px;
            text-align: center;
        }
    }
}