.home_section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-letras);

    h1 {
        font-size: 40px;
        padding-bottom: 60px;
    }
}

.home_banner_info {
    h2 {
        font-size: 28px;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
    }
}

.games_home_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding-top: 40px;
    width: 100%;
    max-width: 1200px;
}

.games_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h3 {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        padding-top: 10px;
    }

    p {
        width: 300px;
        padding-top: 10px;
        font-size: 20px;
        text-align: center;
    }

    button {
        font-size: 18px;
        font-weight: 600;
        padding: 14px 26px;
        margin-top: 10px;
        background-color: var(--cor-laranja);
        border: none;
        border-radius: 20px;
        color: #fff;
    }
}