.home_section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-letras);

    h1 {
        font-size: 40px;
        padding-bottom: 60px;
    }
}

.home_banner_info {
    h2 {
        font-size: 28px;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
    }
}

.games_home_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    padding-top: 40px;
    width: 100%;
    max-width: 1200px;
}

.games_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h3 {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        padding-top: 10px;
    }

    p {
        width: 300px;
        padding-top: 10px;
        font-size: 20px;
        text-align: center;
    }

    button {
        font-size: 18px;
        font-weight: 600;
        padding: 14px 26px;
        margin-top: 10px;
        background-color: var(--cor-laranja);
        border: none;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
    }

    .image-container {
        background-color: white; /* Fundo branco */
        display: inline-block;   /* Adapta o tamanho ao conteúdo */
        padding: 38px;           /* Espaçamento interno ao redor da imagem */
        border-radius: 50%;   

        img {
            display: block;
            width: 150px;
        }
    }
}

@media (max-width: 952px) {
    .games_home_section {
        grid-template-columns: 2fr 2fr;
        row-gap: 30px;
    }
}

@media (min-width: 762px) {
    .home_section h1 {
        font-size: 36px;
    }

    .home_banner_info > p {
        padding: 10px 60px;
    }

    .games_cards h3{
        font-size: 24px;
    }
}

@media (max-width: 688px) {
    .home_section h1 {
        font-size: 34px;
    }

    .home_banner_info > p {
        padding: 8px 40px;
    }

    .games_cards {
        h3 {
            font-size: 20px;
        }
    }
}


@media (max-width: 632px) {
    .home_section  {
        height: auto;
        padding: 40px;
    }

    .games_home_section {
        grid-template-columns: 1fr;
    }

    .home_section h1 {
        font-size: 30px;
        text-align: center;
    }

    .home_banner_info > p {
        padding: 8px 40px;
    }

    .games_cards {
        h3 {
            font-size: 22px;
        }

        p { 
            font-size: 18px;
        }
    }

}