:root {
  --cor-fundo: #52C5F2;
  --cor-fundo-sobre: #0079BB;
  --cor-letras: #1a1919;
  
  --cor-branca: #fff;
  --cor-branca-acinzentada: #F5F5F5;
  
  --cor-laranja: #FFD700;
  --cor-btn-hover: #FF8C00;
 

  --cor-fundo-amarelo: #FFD170;
  --cor-fundo-amarelo-claro: #FCDF9B;

  --cor-roxo: #BA55D3;
  --cor-verde-claro: #A8E6CF;
  --cor-verde-verificar: #09A603;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
  }

  body {
    width: 100%;
    color: var(--cor-letras);
    font-family: "Nunito", serif;
    background-image: url("/images/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  li {
      list-style: none;
  }
  
  a {
      text-decoration: none;
  }