:root {
  --cor-fundo: #6EC1E4;
  --cor-letras: #000;
  
  --cor-branca: #fff;
  --cor-branca-acinzentada: #f2f2f2;
  
  --cor-laranja: #FFA500;
  --cor-btn-hover: #FFD700;
 

  --cor-fundo-amarelo: #FFD170;
  --cor-fundo-amarelo-claro: #FCDF9B;

  --cor-roxo: #DDA0DD;
  --cor-rosa: #FFB6C1;
  --cor-verde: #B2F2BB;
  --cor-vermelho: #FF6F61;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
  }

  body {
    width: 100%;
    font-family: "Nunito", serif;
    background-image: url("/images/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  li {
      list-style: none;
  }
  
  a {
      text-decoration: none;
  }