
/*Container do Jogo*/
.jogo-formar-palavras {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #FFE29A, #FFA9A3);

}

/*Imagem*/
.imagem-palavra {
    width: 300px;
}

/*Letras embaralhadas*/
.letras-container {
    padding: 20px;

    .btn-letra {
        background-color: var(--cor-branca-acinzentada);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.295);
        padding: 30px;
        border-radius: 20px;
        border: none;
        margin-right: 10px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 800;
        cursor: pointer;
        transition: ease-in 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

/*Container da Resposta que o usuário digitou*/
.resposta-container {
    padding: 20px;
    display: flex;
    font-size: 28px;

    h3 {
        margin-right: 10px;
    }

    /*Botão de apagar*/
    .botao-apagar {
        background: transparent;
        border: none;
        cursor: pointer;
        padding-left: 30px;
    }
}

/*Botão de Verificar*/
.botao-verificar {
    padding: 12px 30px;
    font-size: 18px;
    background-color: var(--cor-verde-verificar);
    border: none;
    border-radius: 20px;
    color: var(--cor-branca);
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: #3CBE2A;
        transform: scale(1.1);   
    }
}

/*Container de Parabéns*/
.parabens-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 46px;
        color: var(--cor-letras);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.267);
    }

    button {
        padding: 20px 40px;
        margin-top: 30px;
        color: var(--cor-branca);
        font-size: 18px;
        font-weight: 700;
        background-color: var(--cor-laranja);
        border: none;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
            background-color: var(--cor-btn-hover);
            transform: scale(1.1);
        }
    }
}

@media (min-width: 304px) and (max-width: 426px) {
    .imagem-palavra {
        width: 280px;
    }

    .letras-container .btn-letra {
        padding: 20px;
        margin-top: 10px;
    }

    .resposta-container h3, .letras-resposta {
        font-size: 24px;
    }

    .parabens-container {

        h2 {
            font-size: 40px;
            text-align: center;
        }

        button {
            padding: 18px 38px;
            font-size: 16px
        }
    }  

    .botao-verificar {
        padding: 10px 28px;
        font-size: 16px;
    }
}